{
	"trailingComma": "es5",
	"tabWidth": 2,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"useTabs": true,
	"overrides": [
		{
			"files": ["*.yml", "*.yaml"],
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
